body {
    background-color: white;
}


object {
    height: 100vh;
    width: 100vh;
}

#img{
    width: 400px;
    height: 400px;

}

#rowMargin1{
    left:150px;
    position: relative;
}

#rowMargin2{
    left:50px;
    position: relative;
}

#form{
    width:500px;
    left: 50px;
    position: relative;
}

#form2{
    width:500px;
    left: 170px;
    position: relative;
    top: 50px;
}

#search{
    left: 80px;
    
}
